.claseFactura {

    width:600px;
    margin-left:auto;
    margin-right:auto;
    height:600px;
}


#tEncabezado{
    width:100%;
    margin-bottom:20px;
}

#tEncabezado img{
   width:100px;
}

#tResumen {
    float:right;
    width: 300px;
    margin-top: 20px;
    font-weight:bold;
}

.alinearDerecha {
    text-align: right;
}
}